<h3 class="mb-3 text-center font-bold text-xl"><%= current_book.name %> への招待</h3>

<p class="text-center mb-3">以下のURLをコピーして共有してください。</p>

<input type="text" id="url" class="border-2 p-2 w-full" value="<%= @invite.url %>">
