<h2 class="font-bold text-3xl mb-4">ちゃんと節約するための<br/>ちょっと難しい家計簿</h2>
<p class="text-lg mb-4">先月はカフェにいっぱいお金を使ったけど、今月は本をたくさん買いたいから予算を変更しちゃおう...。</p>
<p class="text-lg mb-4">家計簿をつけていて、そんなことはありませんか？</p>
<p class="text-lg mb-4"><b>Pyram</b> はそんなあなたにぴったりな新しい家計簿です。</p>
<p class="text-lg mb-4">Pyram では、<b style="color: <%= type_color('required') %>">「必要最低限のお金」</b>と<b style="color: <%= type_color('affluent') %>">「豊かに暮らすためのお金」</b>の2つの予算を立てます。</p>
<p class="text-lg mb-4">そして支出を記帳するときにも、「必要最低限のお金」と「豊かに暮らすためのお金」に分けて金額を登録します。</p>
<p class="text-lg mb-4">これなら、生活や趣味が変化しても同じ予算のままで家計簿をつけていけるというわけ。</p>
<p class="text-lg mb-4">さあ、あなたもこのちょっと難しい家計簿でちゃんと節約しましょう。</p>


<div class="text-center py-16">
  <%= render(ButtonComponent.new(text: "Googleでログインする", url: "/auth/google_oauth2", method: :post )) %>
</div>
