<h2 class="text-center italic font-bold text-9xl">FUN!</h2>
<h3 class="text-center italic font-bold text-3xl">家計簿はもっと<br/>楽しくなる！</h3>

<div class="text-center py-16">
  <%= render(ButtonComponent.new(text: "Googleでログインする", url: "/auth/google_oauth2", method: :post )) %>
</div>
