<%= form_with url: books_path,
              model: @book,
              class: "p-5" do |f| %>
  <h1 class="text-center font-bold text-2xl">新しい家計簿</h1>
  <div class="py-5">
    <%= f.text_field :name, class: "w-full p-4 border-2", placeholder: "タイトル", data: { paper_target: "amount" }, autofocus: true, required: true %>
  </div>
  <div class="py-5 text-center">
    <%= f.submit "登録", class: "disabled:opacity-50 shadow-lg bg-gray-600 text-white rounded-lg font-bold rounded-full text-xl py-10 px-9", data: { disable_with: '登録中' } %>
  </div>
<% end %>
