<%= form_with url: book_tag_path,
              method: :patch,  
              model: @tag do |f| %>
  <div class="py-2">
    <%= f.text_field :name, class: "p-2 w-full border-b-2", placeholder: "タグ名", autofocus: true, required: true %>
  </div>

  <div class="py-10 text-center w-full">
    <%= f.submit "更新", style: "width: 100px; height: 100px; line-height: 100px", class: "inline-block shadow-lg bg-gray-600 text-white rounded-lg font-bold rounded-full text-xl" %>
  </div>
<% end %>
